:root {
  --pink: #ebccb2;
  --dark-pink: #e6c0a2;
  --light-blue: #3d7da1;
  --dark-blue: #265173;
}

::selection {
  background-color: var(--dark-blue);
}

* {
  font-family: Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1,
h2,
h3,
footer p {
  font-family: 'Archivo Black';
}

body {
  background-image: url("src/img/bg.jpg");
  background-position: top;
  background-size: cover;
  font-size: 1.4rem;
  color: var(--pink);
  margin: 0;
}

.navbar {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  z-index: 1000;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
}

.nav-list a {
  color: var(--pink);
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 5px;
}

.nav-list a:hover {
  background-color: var(--pink);
  color: var(--dark-blue);
  transition: 0.8s;
}

.home-container {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  text-align: justify;
  margin-top: 8vh;
}

.line {
  height: 400px;
  width: 2px;
  margin: 10vh 5vh;
  background-color: var(--pink);
  animation: slideDown 1.5s ease-in-out forwards;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.home-content {
  padding: 10vh;
  width: 90vh;
  animation: fadeIn 1s ease-in-out forwards;
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

.home-content p,
.about-content p {
  text-indent: 5rem;
  line-height: 2;
}

h1 {
  text-align: center;
  margin: 0 1rem;
}

.learn-more {
  width: 8.5rem;
  height: 3rem;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--pink);
  color: var(--dark-blue);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.learn-more:hover {
  color: var(--dark-blue);
  background-color: var(--dark-pink);
  transition: 0.4s;
}

.button {
  text-align: right;
}

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: justify;
  margin: auto;
}

.about-content {
  background-image: URL("src/img/bg-3.jpg");
  background-size: cover;
  background-position: right;
  object-fit: cover;
  height: auto;
  width: 50vw;
  border-radius: 0.5rem;
  color: var(--dark-blue);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
  opacity: 0;
}

#about-h2 {
  transform: rotate(270deg);
  margin: 0;
}

.explore-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  margin: auto;
  margin-top: 10rem;
  height: 60vh;
  background-repeat: no-repeat;
  background-image: URL("src/img/bg-2.jpg");
  background-size: cover;
  background-position: center;
  object-fit: cover;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
}

.explore-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.explore-container h2 {
  color: var(--pink);
}

.explore-items {
  margin: 2rem;
  width: 300px;
  background-image: URL("src/img/bg-2.jpg");
  background-size: cover;
  background-position: right;
  object-fit: cover;
  padding: 0 2rem 2rem;
  border-radius: 10px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
  transition: 0.4s;
  margin-bottom: 5rem;
}

.bi-arrow-right-square-fill {
  float: right;
}

.bi-arrow-right-square-fill:hover {
  fill: var(--dark-pink);
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.3));
}

.explore-items h3 {
  text-align: center;
}

.explore-items:hover {
  transform: translateY(-20px);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.contact-container {
  height: 50vh;
  width: 60vw;
  margin: auto;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--dark-blue);
}
.contact-container h2 {
  
  filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.3));
}
.icons {
  padding: 0.5rem 2rem;
  border-radius: 10px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
  background-image: URL("src/img/bg-3.jpg");
  opacity: 0;
}
.icons .bi {
  margin: 2rem;
  fill: var(--dark-blue);
  transition: 0.2s;
}

.icons .bi:hover {
  transform: translateY(-5px);
  filter: drop-shadow(0 10px 2px rgba(0, 0, 0, 0.3));
  margin: 2rem;
  fill: var(--dark-blue);
}


.signup {
  background-image: URL("src/img/bg-4.jpg");
  background-size: fill;
  background-position: center;
  object-fit: cover;
  height: 50vh;
  width: 50vw;
  color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 10rem;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}

.signup p {
  font-weight: bold;
}

#signup-email {
  width: 20vw;
  height: 40px;
  border-radius: 10px;
  border: 2px solid var(--dark-blue);
  font-size: 1.4rem;
  padding: 0 1rem;
  color: var(--dark-blue);
}

#signup-email:focus {
  outline: none;
}

input[type="email"]::placeholder {
  color: var(--dark-pink);
}

#signup-btn {
  width: 10vw;
  height: 45px;
  border-radius: 10px;
  border: 2px solid var(--dark-blue);
  background-color: var(--dark-blue);
  color: var(--pink);
  cursor: pointer;
  font-size: 1.4rem;
  transition: 0.4s;
  font-family: Helvetica, Arial, sans-serif;
}

#signup-btn:hover {
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.3));
  transform: translateY(-2px);
}

.form-container {
  margin-top: 4rem;
}

.form-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2rem;
  border-radius: 10px;
}

footer {
  background-image: URL("src/img/bg-3.jpg");
  color: var(--dark-blue);
  text-align: center;
  padding: 2rem;
  margin-top: 10rem;
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.3);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
